= form_with(model: @signup, url: signup_path, local: true) do |form|
  - if @signup.errors.any?
    #error_explanation
      %h2 入力内容にエラーがあります
      %ul
        - @signup.errors.full_messages.each do |message|
          %li= message

  .field
    = form.label "メールアドレス"
    = form.text_field :email_address, id: :signup_email_address

  .field
    = form.label "パスワード"
    = form.password_field :password, id: :signup_password

  .field
    = form.label "送り先名前"
    = form.text_field :delivery_destination_name, id: :signup_delivery_destination_name

  .field
    = form.label "送り先住所"
    = form.text_field :delivery_destination_address, id: :signup_delivery_destination_address

  .actions
    = form.submit "登録"
