%table.table.cartitems
  %thead
    %tr
      %th{ width: '15%' }
      %th 商品名
      %th{ width: '10%' } 価格
      %th{ width: '10%' } 数量
  %tbody
    - order.items.each do |item|
      %tr
        %td= product_image_tag(item.product)
        %td= item.product.name
        %td= number_to_currency(item.price)
        %td= item.quantity
  %tfoot{ style: 'text-align: right' }
    %tr
      %td{ colspan: 4 }
        %p= render 'shared/labeled_yen', label: '小計:', amount: order.subtotal
        %p= render 'shared/labeled_yen', label: '代引き手数料:', amount: Purchase.cod_cost(order)
        %p= render 'shared/labeled_yen', label: '送料:', amount: Purchase.ship_cost(order)
    %tr
      %td{ colspan: 4 }
        = render 'shared/labeled_yen', label: '合計 (税込み):', amount: Purchase.total(order)
