%h2 注文確認

.row
  .col-xs-12
    = render 'orders/items', order: @order

.row
  .col-xs-12
    = form_with model: @form, url: orders_path, local: true do |f|
      - if @form.errors.any?
        #error_explanation
          %h2= "#{pluralize(@form.errors.count, "error")} prohibited this user from being saved:"
          %ul
            - @form.errors.full_messages.each do |message|
              %li= message

      .form-group
        = f.label '送り先名前', for: :ship_to_name
        = f.text_field :ship_to_name, id: 'ship_to_name', class: 'form-control'
      .form-group
        = f.label '送り先住所', for: :ship_to_address
        = f.text_field :ship_to_address, id: 'ship_to_address', class: 'form-control'
      .checkbox
        = f.label :reuse, for: :reuse do
          = f.check_box :reuse, id: 'reuse', checked: true
          この送り先情報を次回も使う
      .form-group
        = f.label '配送日', for: :ship_date
        = f.select :ship_date, Order.ship_date_candidates, {}, id: 'ship_date', class: 'form-control'
      .form-group
        = f.label '配送時間帯', for: :ship_period
        = f.select :ship_period, Order.ship_period_candidates, {}, id: 'ship_period', class: 'form-control'

      .col-xs-offset-4.col-xs-4
        = f.submit '注文する', class: 'btn btn-block btn-warning'

%br

= link_to '戻る', cart_path
