.row
  .col-xs-12
    %table.table.cartitems
      %thead
        %tr
          %th{ width: "15%" }
          %th
          %th{ width: "10%" } 価格
          %th{ width: "10%" } 数量
      %tbody
        - @cart.items.each do |item|
          %tr
            %td= link_to image_tag(product_image_path(item.product), class: 'product__image product__image--fixed-width product__image--shadow'), detail_path(item.product)
            %td
              %p= link_to item.product.name, detail_path(item.product)
              %p= link_to '削除', cart_item_path(item), method: :delete, data: { confirm: 'カートから削除します。よろしいですか？' }, class: 'text--small'
            %td= yen(item.product.price)
            %td= item.quantity
      %tfoot
        %tr
          %td{ colspan: 4, style: 'text-align: right' }= labeled_price('小計:', @cart.subtotal)

- if @cart.has_items?
  .row
    .col-xs-offset-4.col-xs-4
      = link_to 'レジに進む', new_order_path, class: 'btn btn-block btn-warning'
