= form_with model: @product, url: url, local: true do |f|
  - if @product.errors.any?
    #error_explanation
      %h2 入力内容にエラーがあります
      %ul
        - @product.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label '商品名', for: :name
    = f.text_field :name, id: :name
  .field
    = f.label '商品画像', for: :image_file
    = f.file_field :image_file, id: :image_file
  .field
    = f.label '価格', for: :price
    = f.number_field :price, id: :price
  .field
    = f.label '説明', for: :description
    = f.text_area :description, id: :description
  .field
    = f.label '非表示', for: :hidden
    = f.check_box :hidden, id: :hidden
  .actions
    = f.submit '保存'
