%h2 商品一覧

-# TODO sortable
%table
  %thead
    %tr
      %th
      %th 商品名
      %th 価格
      %th 非表示
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td= product_image_tag(product)
        %td= product.name
        %td= product.price
        %td= checkmark(product.hidden)
        %td= link_to '詳細', admin_product_path(product)
        %td= link_to '編集', edit_admin_product_path(product)

%br

= link_to '新規登録', new_admin_product_path
\|
= link_to '戻る', admin_path
