%h2 商品一覧

%table.table.sortable
  %thead
    %tr
      %th 商品名
      %th 価格
      %th 説明
      %th 非表示
      %th
      %th
      %th
  %tbody
    - @products.each do |product|
      %tr.item{ data: { model: 'product', url: admin_product_position_path(product) } }
        %td= product.name
        %td= product.price
        %td= product.description
        %td= checkmark(product.hidden).html_safe
        %td= link_to '詳細', admin_product_path(product)
        %td= link_to '編集', edit_admin_product_path(product)
        %td= link_to '削除', admin_product_path(product), method: :delete, data: { confirm: '削除しますか？' }

%br

= link_to '新規登録', new_admin_product_path
\|
= link_to '戻る', admin_path
