%h1 Listing products

-# TODO sortable
%table
  %thead
    %tr
      %th Image
      %th Name
      %th Price
      %th Hidden
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td= product_image_tag(product)
        %td= product.name
        %td= product.price
        %td= checkmark(product.hidden)
        %td= link_to 'Show', admin_product_path(product)
        %td= link_to 'Edit', edit_admin_product_path(product)

%br

= link_to 'New Product', new_admin_product_path
