= form_with model: @user, url: url, local: true do |f|
  - if @user.errors.any?
    #error_explanation
      %h2 入力内容にエラーがあります
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message

  .form-group
    %label{ for: :email } メールアドレス
    = f.text_field :email, id: :email, readonly: true, class: 'form-control'
  .form-group
    %label{ for: :ship_name } 配送先氏名
    = f.text_field :ship_name, id: :ship_name, class: 'form-control'
  .form-group
    %label{ for: :ship_address } 配送先住所
    = f.text_field :ship_address, id: :ship_address, class: 'form-control'
  .actions
    = f.submit '保存', class: 'btn btn-primary'
