= form_with model: @user, url: url, local: true do |f|
  - if @user.errors.any?
    #error_explanation
      %h2 入力内容にエラーがあります
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label 'メールアドレス', for: :email
    = f.text_field :email, id: :email, readonly: true, class: 'form-control'
  .form-group
    = f.label '配送先氏名', for: :ship_name
    = f.text_field :ship_name, id: :ship_name, class: 'form-control'
  .form-group
    = f.label '配送先住所', for: :ship_address
    = f.text_field :ship_address, id: :ship_address, class: 'form-control'
  .actions
    = f.submit '保存', class: 'btn btn-primary'
