.row
  .col-xs-5
    .row
      .col-xs-12
        = product_image_tag(@product, "full")
  .col-xs-7{ style: 'padding: 0 30px' }
    .row
      .col-xs-12
        %h1.product__name{ style: 'margin-top: 0' }= @product.name
        %p.product__price
          %span 価格:
          %span.product__price_value
            %strong= yen(@product.price)
        %p.product__description= @product.description
    .row{ style: 'margin-top: 30px' }
      .col-xs-12
        = form_with model: @form, url: cart_path, local: true, method: :patch do |f|
          = f.hidden_field :product_id
          .form-group.form-inline.quantity_form
            = f.label '数量:', for: 'quantity'
            = f.number_field :quantity, id: 'quantity', class: 'form-control'
          %button.btn.btn-block.btn-warning.btn_cart{ type: 'submit' } カートに入れる
