.row
  .col-xs-5
    .row
      .col-xs-12
        = image_tag product_image_path(@product), class: 'product__image product__image--size-big product__image--shadow'
  .col-xs-7{ style: 'padding: 0 30px' }
    .row
      .col-xs-12
        %h1.product__name{ style: 'margin-top: 0' }= @product.name
        %p.product__price
          %span 価格:
          %span.product__price_value
            %strong= "￥#{@product.price}"
        %p.product__description= @product.description
    .row{ style: 'margin-top: 30px' }
      .col-xs-12
        = form_with model: @cart_item, url: cart_items_path, local: true do |f|
          = f.hidden_field :product_id
          .form-group.form-inline.quantity_form
            %label{ for: 'quantity' } 数量:
            = f.number_field :quantity, id: 'quantity', class: 'form-control'
          %button.btn.btn-block.btn-warning.btn_cart{ type: 'submit' } カートに入れる
