!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %title さくらマーケット
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.pagehead
      %nav
        %span.pagehead__title
          = link_to 'さくらマーケット', root_path
        %ul.pagehead__nav
          %li 日記を見る
          %li お買い物
          %li= link_to 'ショッピングカート', cart_path
        %ul.pagehead__nav.pagehead__nav--right
          - if user_signed_in? or true
            %li= link_to 'ログアウト', logout_path, method: :post
    .container
      = yield
